---
---
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>wizytowka.link</title>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-50">
    <h1 class="text-3xl font-bold text-gray-800">wizytowka.link</h1>
  </body>
</html>
